{% extends 'base.html' %} {% block body %}
<script type="text/javascript"> 

    var loadData = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/loadData/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    var mergeSort = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/mergeSort/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    var insertionSort = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/insertionSort/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    var generateSPK = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
       
        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/tester/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    var Search = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/tester1/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            data: JSON.stringify( { 'searchValue' : searchValue } ),
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

</script>

<div id="react-app"></div>

<form>
    {% csrf_token %}

    <div style="height: 10px; padding: 10px"></div>
    <h1 style="padding: 10px" class="text-center"> Team A algorithms</h1>

    <div style="height: 10px; padding: 10px"></div>
    <div style="padding: 10px">
        <button style="width: 200px;" class="btn btn-primary" type="button" onclick="loadData()">Load Data</button>
    </div>

    <div style="padding: 10px">
        <button style="width: 200px;" class="btn btn-primary" type="button" onclick="mergeSort()">Alphabetical Sort</button>
    </div>
    
    <div style="padding: 10px">
        <button style="width: 200px" class="btn btn-primary" type="button" onclick="insertionSort()">Point Sort</button>
    </div>
    
    <div style="padding: 10px">
        <input id="search_id" type="text">
        <button style="width: 200px" class="btn btn-primary" type="button" onclick="Search()">Search Customer</button>
    </div>

    <div style="height: 10px; padding: 10px"></div>
    <div style="padding: 10px" id="tester"></div>

</form>



{% endblock %}