{% extends 'base.html' %} {% block body %}
<script type="text/javascript"> 

    /*
     * This is where the load data javascript calls the python load data
     * @returns {undefined}
     */ 
    var loadData = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/loadData/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    /* 
     * This is where the merge sort javascript calls the python api mergesort
     * @returns {undefined}
     */
    var mergeSort = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/mergeSort/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    /*
     * This is where the insertions sort javascript calls the python api insertionSort
     * @returns {undefined}
     */
    var insertionSort = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value
        
        $.ajax({
            url: '/insertionSort/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

    /* 
     * This is where the hash-based search javascript calls the python api 
     * Search passing a parameter name.
     * @returns {undefined}
     */ 
    var Search = function () {
        var csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var searchValue = document.getElementById('search_id').value

        if(searchValue === ''){
            alert("Please enter a name to search")
            return false
        }

        if(searchValue.indexOf(' ') === -1){
            alert("Please enter a valid name to search")
            return false
        }
        
        $.ajax({
            url: '/Search/',
            type: 'POST',
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            data: JSON.stringify( { 'searchValue' : searchValue } ),
            async: false,
            cache: false,
            processData: false,
            error: function (jqXHR, status, err) {
                alert("error")
            },
            success: function (response) {
                document.getElementById('tester').innerHTML = response;
            }
        });
        return false;

    };

</script>

<div id="react-app"></div>

<form>
    {% csrf_token %}

    <header style="padding: 10px; text-align: center; background: #eee;">
        <h1 style="font-weight: bold;" class="text-center"> Team A Project</h1>
    </header>
    <div style="height: 10px; padding: 10px"></div>
        <div style="padding: 10px 20px;"> 
            <p></p><strong>Information:</strong></p>
            <ul>
                <li>Click 'Load Data' button to render the leaderboard </li>
                <li>Click 'Alphabetical Sort' button to sort the leaderboard in ascending order</li>
                <li>Click 'Points Sort' button to sort the leaderboard in ascending order</li>
                <li>To search for a particular customer, type in the user's fullname and click 'Search Customers'.</li>
            </ul>
        </div>
        <div style="padding: 10px; display: flex;">
            <button style="width: 200px;margin-right: 5px;" class="btn btn-primary" type="button" onclick="loadData()">Load Data</button>
            <button style="width: 200px;margin-right: 5px;" class="btn btn-primary" type="button" onclick="mergeSort()">Alphabetical Sort</button>
            <button style="width: 200px;margin-right: 5px;" class="btn btn-primary" type="button" onclick="insertionSort()">Points Sort</button>
        </div>
        
        <hr/>
        <div style="padding: 10px">
            <input id="search_id" style="padding: 5px 10px;width: 350px;" type="text" 
            placeholder="Enter customer's fullname (e.g, Alan Turing)"/>
            <button style="background: black; border: solid 1px black;margin:0px;vertical-align: top;" 
            class="btn btn-primary" type="button" onclick="Search()">Search Customer</button>
        </div>

        <div style="height: 10px; padding: 10px"></div>
    <div style="padding: 10px" id="tester"></div>

</form>

{% endblock %}