<div class="row mb-5">
    <div class="col-12 text-white">
        <h4 class="text-center"> Results: {{sortType}}</h4>
        <div style="height: 10px"></div>
        <p class="text-center"> <strong>Average points:</strong> {{averageclient}}</p>
        <p class="text-center"> <strong>Maximum points:</strong> {{maxclient}}</p>
        <div style="height: 10px"></div>
        <h3 class="text-center"> Silver customers</h3>
        <table id="transactions-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>

                </tr>
            </thead>
            <tbody>
                {% for row in formGold %}
                <tr>
                    <tr>
                        <td>{{ row.firstname }}</td>
                        <td>{{ row.lastname }}</td>
                        <td>{{ row.points }}</td>
                    </tr>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 class="text-center"> Gold customers</h3>
        <table id="transactions-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>

                </tr>
            </thead>
            <tbody>
                {% for row in formSilver %}
                <tr>
                    <tr>
                        <td>{{ row.firstname }}</td>
                        <td>{{ row.lastname }}</td>
                        <td>{{ row.points }}</td>
                    </tr>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 class="text-center"> Platinum customers</h3>
        <table id="transactions-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>

                </tr>
            </thead>
            <tbody>
                {% for row in formPlatinum %}
                <tr>
                    <tr>
                        <td>{{ row.firstname }}</td>
                        <td>{{ row.lastname }}</td>
                        <td>{{ row.points }}</td>
                    </tr>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>