<div class="row mb-5">
    <div class="col-12 text-white">
        <h1 class="text-center"> Results: {{sortType}}</h1>
        <div style="height: 10px"></div>
        <h5 class="text-center"> Average points: {{averageclient}}</h5>
        <div style="height: 10px"></div>
        <h5 class="text-center"> Maximum points: {{maxclient}}</h5>
        <div style="height: 10px"></div>
        <h1 class="text-center"> Gold customers</h1>
        <table id="transactions-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>

                </tr>
            </thead>
            <tbody>
                {% for row in formGold %}
                <tr>
                    <tr>
                        <td>{{ row.firstname }}</td>
                        <td>{{ row.lastname }}</td>
                        <td>{{ row.points }}</td>
                    </tr>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 class="text-center"> Silver customers</h1>
        <table id="transactions-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>

                </tr>
            </thead>
            <tbody>
                {% for row in formSilver %}
                <tr>
                    <tr>
                        <td>{{ row.firstname }}</td>
                        <td>{{ row.lastname }}</td>
                        <td>{{ row.points }}</td>
                    </tr>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 class="text-center"> Platinum customers</h1>
        <table id="transactions-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>

                </tr>
            </thead>
            <tbody>
                {% for row in formPlatinum %}
                <tr>
                    <tr>
                        <td>{{ row.firstname }}</td>
                        <td>{{ row.lastname }}</td>
                        <td>{{ row.points }}</td>
                    </tr>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>